* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-carousel {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
  
}

.carruseles {
    width: 500%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 5);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}


header a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    width: 100%;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo img {
    background-color: #000000;
    overflow: hidden;
    display: block;
    width: 44%;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: block;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background: rgba(34, 35, 34, 0.68);
    height: 97%;
}

nav ul li ul {
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(36, 37, 36, 0.712);
    width: auto;
    text-align: left;
}

nav ul li:hover ul {
    display: block;
}

footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

footer h2 {
    font-size: 20px;
}

.social {
    display: flex;
    color: white;
    width: 33.33%;
    justify-content: center;
}

footer img {
    border: 2px solid transparent;
    border-radius: 20px;
    width: 50px;
    height: 50px;
}

footer img:hover {
    border-color: rgb(120, 247, 0);
}

footer a {
    display: flex;
    justify-content: center;
}

.fb {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.ig {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.wpp {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.datos {
    width: 33.33%;
    text-align: center;
    color: white;
}

.mapa {
    width: 33.33%;
    display: flex;
    align-items: center;
}

.mapa p {
    color: white;
    display: flex;
    align-items: center;
}

.mapa div {
    display: flex;
    align-content: center;
    margin-left: 30%;
}


.container-carousel {
    /* background-color: yellow; */
    /* width: 100%; */
    margin: 20px auto;
    position: relative;

}

th{
    color: #05e610;
    text-align-last: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
main{
    margin-top: 5%;
}
.box{
    position: absolute;
    top: 21.5%;
    left: 7%;
    grid-area: 1 / 1 / 2 / 2;
    margin: 20px auto; 
    width: 25.5%;
}
.box table{
    gap: 20px 0px;
    height: 300px;
}
.box2 table {
    width: 30%;
    margin: auto;
}

.box2{
    display: flex;
    grid-area: 2 / 1 / 2 / 4;
    height: fit-content;
    margin: 35px auto;
    position: relative;
}

.box2 th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}
  
  box2 td {
    padding: 10px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.asd{
    text-align: center;
}

  
  /* Estilos para el cuadro del formulario */
  .formc {
    position: absolute;
    top: 24.5%;
    width: 20%;
    left: 69%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para los campos del formulario */
  .formc div {
    margin-bottom: 29.5px; /* Espaciado entre los elementos */
  }
  
  .formc label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formc input[type="text"] {
    width: 100%;
    padding: 12px; /* Reduce el tamaño del relleno */
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilos para el botón de enviar */
  .formc button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00d11f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Cambiar el color del botón al pasar el cursor por encima */
  .formc button[type="submit"]:hover {
    background-color: #039806;
  }

#botonRegresar {
    position: absolute;
    top: 15%;
    left: 90%;
    padding: 10px 20px;
    background-color: #24e224; /* Color de fondo */
    color: #fff; /* Color de texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

#botonRegresar:hover {
    background-color: #00ac0e; /* Cambia el color de fondo al pasar el ratón */
}