.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.propiedad {
  margin: 20px;
  width: calc((100% / 4) - 40px);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
}

.propiedad:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.propiedad img {
  display: block;
  width: 100%;
  height: auto;
}
.botonpropiedad{
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, 0.582);
  color: #fff;
  border: none;   
  border-radius: 5px;
  margin-left: 0px;
  cursor: pointer;
  width: 100%;
  height: 34px;
}
table{
  width: 60%;;
}
input{
  border-color: transparent;
  background-color: transparent;
  text-align: left;
  width: 85px;
}
input[name="comuna"]{
  display: none;
}
th{
  color: rgb(0, 232, 50);
  font-size: 18px;
}
table tr td:nth-child(even) {
  width: 70px;
  text-align: left;
}
table tr td:nth-child(odd) {
  width: 70px;
  text-align: left;
}
.centro{
  display: flex;
  justify-content: center;
}

button:hover{
  background-color: black;
}

/* Estilos para dispositivos con un ancho máximo de 768px (ajusta según tus necesidades) */
@media only screen and (max-width: 768px) {
  .propiedad {
    width: calc((100% / 2) - 40px);
  }

  table {
    width: 100%;
  }
}

/*  */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.pagination {
  margin-top: 20px;
  text-align: center; /* Centra los elementos horizontalmente */
  line-height: 20px; /* Ajusta esto según la altura del contenedor para centrar verticalmente */

}

.pagination a, .pagination .current-page {
  display: inline-block;
  margin: 0 3px;
  margin-bottom: 2%;
  padding: 4px 8px;
  text-decoration: none;
  background-color: #1ecd2d;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #077412;
}
