/* recibos */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #666;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tres columnas de tamaño igual */
    gap: 10px; /* Espaciado entre las columnas */
    width: 100%;
    padding: 10px;
    margin-top: 20px;
  }
  

.checkbox-group label {
    /* display: flex; */
    
    align-items: center;
    /* margin-bottom: 8px; */
}

.checkbox-group input {
    margin-right: 5px;
    
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#totalPagar {
    margin-top: 15px;
    font-weight: bold;
}

/* Encabezado */
header {
    background-color: #2ecc71;
    /* Cambiado a verde (#2ecc71) */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
} */

.navbar-left span {
    font-weight: bold;
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/* Contenedor principal */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de la tabla de inmuebles */
table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2ecc71;
    /* Cambiado a verde (#2ecc71) */
    color: #fff;
}

/* Estilo de los formularios */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    appearance: none;
}

/* Estilo de la lista scrollable */
.scrollable-list {
    max-height: 400px;
    overflow-y: scroll;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td a {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

td a:hover {
    background-color: #2ecc71;
    color: #fff;
}

/* Alinea el contenido de la última columna al centro */
td:last-child {
    text-align: center;
}

thead {
    background-color: #333;
    color: #fff;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination a,
.pagination .current-page {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #1ecd2d;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #077412;
}

.pagination .current-page {
    background-color: #1ecd2d;
    cursor: default;
}

.first-page {
    background-color: #1ecd2d;
    /* Define el color verde para el enlace 'Primera' */
    /* Otros estilos si es necesario */
}

.contenido {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  select,
  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Estilo del cuadro de selección personalizado */
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
  }
  
  /* Estilo del indicador de selección personalizado */
  select::-ms-expand {
    display: none;
  }
  
  .checkbox-group {
    margin-top: 10px;
  }
  
  #totalPagar {
    margin-top: 10px;
    font-weight: bold;
  }
  
  #pagoMensaje {
    margin-top: 10px;
    color: #4caf50;
    font-weight: bold;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }



  .labelscontratos{
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 100%;
    align-items: center;
  }