* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* Ocultar el valor del atributo "value" */
datalist option {
    display: none;
}
/* Estilo general del cuerpo de la página */
body {
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Encabezado */
header {
    background-color: #2ecc71;
    /* Cambiado a verde (#2ecc71) */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-left span {
    font-weight: bold;
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/* Contenedor principal */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de la tabla de inmuebles */
table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2ecc71;
    /* Cambiado a verde (#2ecc71) */
    color: #fff;
}

form {
    border: none; /* Quitamos el borde original */
    padding: 20px; /* Espaciado interno del formulario */
    width: 70%; /* Ancho del formulario, puedes ajustarlo según tus necesidades */
    margin: 0 auto; /* Centrar el formulario en la página */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregar sombra al formulario */
  }

.form-container {
    display: flex;
    justify-content: center; ;
  }

  .form-section {
    flex: 0 0 38%;
  }

  .panel .form-container-update {
    display: flex;
    justify-content: center;
  }

  .panel .form-section-update {
    flex: 0 0 38%; 
  }

  .panel label {
    width: 150px; 
    display: inline-block;
  }

  .form-container-updatec {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .form-section-updatec {
    flex: 0 0 38%;
  }

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container-update {
    display: flex;
    justify-content: center;
}

.form-section-update {
    margin: 0 10px; 
}

.button-group {
    margin-top: 20px;
}

#formularioContrato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formularioContrato label,
#formularioContrato input,
#formularioContrato select {
    margin-bottom: 10px; /* Ajusta el margen según tus preferencias */
}

#formularioContrato .button-group {
    margin-top: 20px; /* Ajusta el margen según tus preferencias */
}

#contenedorFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#formularioPersona {
    display: flex;
}

#formularioPersona label,
#formularioPersona input,
#formularioPersona select {
    margin-bottom: 10px; /* Ajusta el margen según tus preferencias */
}

#formularioPersona .button-group {
    margin-top: 20px; /* Ajusta el margen según tus preferencias */
    width: 100%; /* Ajusta el ancho según tus preferencias */
}



input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    appearance: none;
}

/* Estilo de los botones */

.button-group {
    text-align: right;
}

button[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Estilo de la lista scrollable */
.scrollable-list {
    max-height: 400px;
    overflow-y: scroll;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td a {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

td a:hover {
    background-color: #2ecc71;
    color: #fff;
}

/* Alinea el contenido de la última columna al centro */
td:last-child {
    text-align: center;
}

thead {
    background-color: #333;
    color: #fff;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination a, .pagination .current-page {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #1ecd2d;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #077412;
}

.pagination .current-page {
    background-color: #1ecd2d;
    cursor: default;
}

.first-page {
    background-color: #1ecd2d; /* Define el color verde para el enlace 'Primera' */
    /* Otros estilos si es necesario */
}

div {
    display: inline-block;
    margin-right: 10px; /* Ajusta el margen entre los campos si lo deseas */
}

label {
    display: block; /* Coloca cada etiqueta en una nueva línea */
}

/* Agrega este bloque en tu archivo administrador.css o en la sección de estilos de tu HTML */
.filtro-container div {
    display: inline-block;
    margin-right: 10px; /* Puedes ajustar este valor según tus preferencias */
  }
  
  textarea {
    resize: none; /* Deshabilita la función de redimensionamiento */
  }

  .boton-verde {
    background-color: #2ecc71; /* Color verde */
    color: white; /* Color del texto */
    padding: 10px 20px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: flex; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin borde */
    float: right; /* Colocar a la derecha */
}

.boton-verde:hover {
    background-color: #159709;
}

/* Estilos para el botón desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #159709   ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #044a0c; /* Borde */
    border-radius: 4px;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #11630a;
}

/* Estilos para la separación entre elementos en el navbar */
.navbar-right a:not(:last-child) {
    margin-right: 15px;
}

