<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>adminredit</title>
    <link rel="stylesheet" href="{{url_for('static',filename='reportes.css')}}" />
</head>

<body>
    <header>
        <nav>
            <div class="navbar-left">
                <span>Bienvenido, Administrador</span>
            </div>
            <div class="navbar-right">
                <a href="{{url_for('admini')}}">Inmuebles</a>
                <a href="{{url_for('contratos')}}">Contratos</a>
                <a href="{{url_for('recibos')}}">Recibos</a>
                <a href="{{url_for('personas')}}">Personas</a>
                <div class="dropdown" id="reportesDropdown">
                    <span>Reportes</span>
                    <div class="dropdown-content">
                        <a href="{{url_for('reporteI')}}">Inquilino</a>
                        <a href="{{url_for('reporteP')}}">Pagos</a>
                    </div>
                </div>
                <a href="{{url_for('intelogin')}}">Cerrar sesión</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="panel">
            <form action="/updater/{{recibo.0}}" method="POST">
                <label>Codigo contrato:</label>
                <input type="number" value="{{recibo.1}}" name="codigoContrato"
                    placeholder="Ingresa el codigo del contrato" />
                <label>Fecha pago:</label>
                <input type="date" value="{{recibo.2}}" name="FechaPago" placeholder="Ingresa la fecha de pago" />
                <label>Cuota:</label>
                <input type="number" value="{{recibo.3}}" name="Cuota" placeholder="Ingresa el valor" />

                <div class="button-group">
                    <button type="submit">Agregar</button>
                </div>
            </form>
        </div>
        <script src="/js/administrador.js"></script>
    </main>
</body>

<script>
    // Agrega un script para manejar el evento hover y mostrar/ocultar el contenido del dropdown
    var reportesDropdown = document.getElementById("reportesDropdown");
  
    reportesDropdown.addEventListener("mouseover", function () {
        // Muestra el contenido del dropdown cuando el mouse pasa por encima
        this.querySelector(".dropdown-content").style.display = "block";
    });
  
    reportesDropdown.addEventListener("mouseout", function () {
        // Oculta el contenido del dropdown cuando el mouse sale
        this.querySelector(".dropdown-content").style.display = "none";
    });
  </script>

</html>