<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>adminpedit</title>
    <link rel="stylesheet" href="{{url_for('static',filename='administrador.css')}}" />
</head>

<body>
    <header>
        <nav>
            <div class="navbar-left">
                <span>Bienvenido, Administrador</span>
            </div>
            <div class="navbar-right">
                <a href="{{url_for('admini')}}">Inmuebles</a>
                <a href="{{url_for('contratos')}}">Contratos</a>
                <a href="{{url_for('recibos')}}">Recibos</a>
                <a href="{{url_for('personas')}}">Personas</a>
                <a href="{{url_for('intelogin')}}">Cerrar sesión</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="panel">
            <h2>Lista de personas</h2>
            <form action="/updatep/{{persona.0}}" method="POST">
                <label>Nombre:</label>
                <input type="text" value="{{persona.1}}" name="Nombre" placeholder="Ingresa el nombre" />
                <label>Correo:</label>
                <input type="email" value="{{persona.2}}" name="Correo" placeholder="Ingresa el correo" />
                <label>Direccion:</label>
                <input type="text" value="{{persona.5}}" name="Direccion" placeholder="Ingresa la direccion" />
                <label>Telefono:</label>
                <input type="number" value="{{persona.4}}" name="Telefono" placeholder="Ingresa el telefono" />
                <label>Rol:</label>
                <select name="Rol">
                    <option value="{{persona.6}}">{{persona.6}}</option>
                    <option value="Arrendador">Arrendador</option>
                    <option value="Arrendatario">Arrendatario</option>
                </select>
                <label>Cedula:</label>
                <input type="text" value="{{persona.3}}" name="Cedula" placeholder="Ingresar la cedula" />

                <div class="button-group">
                    <button type="submit">Agregar</button>
                </div>
            </form>
        </div>
        <script src="/js/administrador.js"></script>
    </main>
</body>

</html>