<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/reportes.css">
  <title>Document</title>
</head>
<header>
  <nav>
    <div class="navbar-left">
      <span>Bienvenido, Administrador</span>
    </div>
    <div class="navbar-right">
      <a href="{{url_for('admini')}}">Inmuebles</a>
      <a href="{{url_for('contratos')}}">Contratos</a>
      <a href="{{url_for('recibos')}}">Recibos</a>
      <a href="{{url_for('personas')}}">Personas</a>
      <div class="dropdown" id="reportesDropdown">
        <span>Reportes</span>
        <div class="dropdown-content">
          <a href="reporteI">Inquilino</a>
          <a href="reporteP">Pagos</a>
        </div>
      </div>
      <a href="{{url_for('intelogin')}}">Cerrar sesión</a>
    </div>
  </nav>
</header>

<body>
  <div class="panel">
    <h2>Reportes de Pagos</h2>
    <a href="{{ url_for('descargar_excel2') }}" class="boton-verde">Descargar Excel</a>
    <div class="scrollable-list" id="list">
      <table>
        <thead>
          <tr>
            <td>Fecha</td>
            <td>Inmueble</td>
            <td>Cedula</td>
            <td>Nombre</td>
            <td>ID Recibo</td>
            <td>Valor</td>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <!-- Fecha -->
            <td>{{reporte.0}}</td>
            <!-- Inmueble -->
            <td>{{reporte.1}}</td>
            <!-- Cedula -->
            <td>{{reporte.2}}</td>
            <!-- Nombre -->
            <td>{{reporte.3}}</td>
            <!-- ID Recibo -->
            <td>{{reporte.4}}</td>
            <!-- Valor -->
            <td>{{reporte.5}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</body>
<script>
  // Agrega un script para manejar el evento hover y mostrar/ocultar el contenido del dropdown
  var reportesDropdown = document.getElementById("reportesDropdown");

  reportesDropdown.addEventListener("mouseover", function () {
    // Muestra el contenido del dropdown cuando el mouse pasa por encima
    this.querySelector(".dropdown-content").style.display = "block";
  });

  reportesDropdown.addEventListener("mouseout", function () {
    // Oculta el contenido del dropdown cuando el mouse sale
    this.querySelector(".dropdown-content").style.display = "none";
  });
</script>

</html>