<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/reportes.css">
  <title>Document</title>
</head>
<header>
  <nav>
    <div class="navbar-left">
      <span>Bienvenido, Administrador</span>
    </div>
    <div class="navbar-right">
      <a href="{{url_for('admini')}}">Inmuebles</a>
      <a href="{{url_for('contratos')}}">Contratos</a>
      <a href="{{url_for('recibos')}}">Recibos</a>
      <a href="{{url_for('personas')}}">Personas</a>
      <div class="dropdown" id="reportesDropdown">
        <span>Reportes</span>
        <div class="dropdown-content">
          <a href="{{url_for('reporteI')}}">Inquilino</a>
          <a href="{{url_for('reporteP')}}">Pagos</a>
        </div>
      </div>
      <a href="{{url_for('intelogin')}}">Cerrar sesión</a>
    </div>
  </nav>
</header>

<body>
  <div class="panel">
    <h2>Reportes de inquilinos</h2>
    <!-- Agrega un botón para descargar el archivo Excel -->
    <a href="{{ url_for('descargar_excel') }}" class="boton-verde">Descargar Excel</a>
    <div class="panel">
      <div class="scrollable-list" id="list">
        <table>
          <thead>
            <tr>
              <td>Cedula</td>
              <td>Nombre</td>
              <td>Correo</td>
              <td>Telefono</td>
              <td>Contrato</td>
              <td>Inmueble</td>
              <td>Ubicacion</td>
              <td>Plazo</td>
              <td>Canon</td>
            </tr>
          </thead>
          <tbody>
            {% for reporte in reportes %}
            <tr>
              <!-- Cedula -->
              <td>{{reporte.2}}</td>
              <!-- Nombre -->
              <td>{{reporte.0}}</td>
              <!-- Correo -->
              <td>{{reporte.1}}</td>
              <!-- Telefono -->
              <td>{{reporte.3}}</td>
              <!-- Contrato -->
              <td>{{reporte.6}}</td>
              <!-- Inmueble -->
              <td>{{reporte.4}}</td>
              <!-- Ubicacion -->
              <td>{{reporte.5}}</td>
              <!-- Plazo -->
              <td>{{reporte.7}}</td>
              <!-- Canon -->
              <td>{{reporte.8}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

<script>
  // Agrega un script para manejar el evento hover y mostrar/ocultar el contenido del dropdown
  var reportesDropdown = document.getElementById("reportesDropdown");

  reportesDropdown.addEventListener("mouseover", function () {
    // Muestra el contenido del dropdown cuando el mouse pasa por encima
    this.querySelector(".dropdown-content").style.display = "block";
  });

  reportesDropdown.addEventListener("mouseout", function () {
    // Oculta el contenido del dropdown cuando el mouse sale
    this.querySelector(".dropdown-content").style.display = "none";
  });
</script>

</html>